@import "../../styles/variables.scss";

.modalWrapper {
  width: 600px !important;
  min-height: 520px;
  margin: 0 auto;
}

.modal div {
  max-width: 100%;
}

.closeButton {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
}

.modalContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0 140px 30px 140px;
  @media (max-width: 575px) {
    padding: 0 15px 30px 15px;
  }
}

.responseText {
  @include typography-regular;
  text-align: center;
}

.closeButtonRow {
  padding: 30px 30px 0 0 ;
  margin: 0;
  justify-content: flex-end;
}

.titleRow {
  @include form-title;
  margin: 0;
  justify-content: center;
  color: #c1b5a8;
  padding-bottom: 45px;
}

.formWrapper {

}
.errorText {
  font-family: $sans-serif;
  font-size: 10px;
  color: red;
  position: absolute;
  display: flex;
  top: 75px;
  justify-content: center;
}


.inputItem {
  padding: 0 ;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #6C6C6C;
  margin-bottom: 30px;
}

.inputItem__error {
  padding: 0 ;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid red;
  margin-bottom: 30px;
}

.invisibleFileInput {
  display: none;
}

.fileInputButton {
  background-color: transparent;
  border: none;
}

.desiresContainer {
  display: flex;
  border-bottom:  1px solid #6C6C6C;
}

.desiresInput {
  padding: 0;
  border: none;
}

.imageContainer {
  display: flex;
  padding-bottom: 20px;
  & img {
    margin-right: 10px;
  }
}

.button {
  width: 230px;
  height: 50px;
  text-transform: uppercase;
  border-radius: 10px;
}

.checkboxContainer {
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkboxText {
  font-size: 10px;
  cursor: pointer;
}

.checkboxText__error {
  font-size: 10px;
  cursor: pointer;
  color: red;
}

.linkContainer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.checkboxText_link {
  text-align: center;
  font-size: 10px;
  border-bottom: 1px solid $text-color;
  opacity: 0.5;
  letter-spacing: 0.3px;
  &:hover {
    opacity: 1;
  }
}
.imagePreviewContainer {
  display: flex;
}

.imagePreview {
  position: relative;
  display: flex;
  margin-right: 10px;
}

.imagePreview img {
  object-fit: cover;
  width: 50px;
  height: 50px;
}

.imagePreviewCloseButton {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  top: -8px;
  right: -8px;
  position: absolute;
  background-color: gray;
  border: 1px solid white;
  cursor: pointer;
}


.buttonContainer {
  display: flex;
  justify-content: center;
}

@keyframes check {0% {height: 0;width: 0;}
  25% {height: 0;width: 10px;}
  50% {height: 20px;width: 10px;}
}
.checkbox{background-color:#fff;display:inline-block;height:28px;width:28px;border-radius:0; float: left; margin-right: 13px}
.checkbox span{display:block;height:28px;position:relative;width:28px;padding:0}
.checkbox span:after{-moz-transform:scaleX(-1) rotate(135deg);-ms-transform:scaleX(-1) rotate(135deg);-webkit-transform:scaleX(-1) rotate(135deg);transform:scaleX(-1) rotate(135deg);-moz-transform-origin:left top;-ms-transform-origin:left top;-webkit-transform-origin:left top;transform-origin:left top;border-right:4px solid #fff;border-top:4px solid #fff;content:'';display:block;height:20px;left:3px;position:absolute;top:15px;width:10px}
.checkbox span:hover:after{border-color:#999}
.checkbox input{display:none}
.checkbox input:checked + span:after{-webkit-animation:check .8s;-moz-animation:check .8s;-o-animation:check .8s;animation:check .8s;border-color:#555}
.checkbox input:checked + .default:after{border-color: #666}
.checkbox input:checked + .primary:after{border-color:#2196F3}
.checkbox input:checked + .success:after{border-color:#8bc34a}
.checkbox input:checked + .info:after{border-color:#3de0f5}
.checkbox input:checked + .warning:after{border-color:#FFC107}
.checkbox input:checked + .danger:after{border-color:#f44336}


