@import "../../../styles/variables.scss";

.formWrapper {
  background-color: $secondary-background;
  margin-top: 180px;
  @media (max-width: 992px) {
    margin-top: 90px;
  }
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.formContainer {
  padding: 0;
}

.formRow {
  margin: 0;
  min-height: 510px;
  @media (max-width: 992px) {
    min-height: 450px ;
  }
}

.textContainer {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 575px) {
    align-items: center;
  }
}

.title {
  @include form-title;
  color: $title-color;
  @media (max-width: 575px) {
    text-align: center;
    width: 280px
  }
}

.textP {
  @include typography-regular;
  color: $text-color;
  width: 315px;
  margin: 25px 0;
  @media (max-width: 767px) {
    width: 80%;
  }
}

.button {
  width: 230px;
  height: 50px;
  text-transform: uppercase;
  background-color: transparent;
  border-radius: 10px;
  @media (max-width: 767px) {
    margin-bottom: 15px;
  }
}

.imageContainer {
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  @media (max-width: 767px) {
    width: 50%;
  }
  @media (max-width: 575px) {
    display: none;
  }
}

.imageWrapper {
  overflow: hidden;
  @media (max-width: 992px) {
    width: 390px;
    height: 350px;
  }
  @media (max-width: 767px) {
    width: 100%;
    display: flex;
    justify-content: center;
  }

}

.image {
  width: 520px;
  height: 420px;

}