@import "../../styles/variables.scss";

.catalogWrapper {
  padding: 80px 0 0 0;

  @media (max-width: 767px) {
    padding: 80px 20px;
  }
  @media (max-width: 575px) {
    padding: 50px 15px;
  }
}

.titleContainer {
  @include  block-title
}

.contentContainer {
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.contentWrapper {
  overflow: hidden;
  &:nth-child(odd) {
    padding: 0 30px 0 0;
  }
  &:nth-child(even) {
    padding: 0 0 0 30px;
  }
  @media (max-width: 991px) {
    &:nth-child(odd) {
      padding: 0 20px 0 0;
    }
    &:nth-child(even) {
      padding: 0 0 0 20px;
    }
  }
}

.contentItem__large {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
  @media (max-width: 991px) {
    padding-bottom: 30px;
  }
}

.imageContainer__large {
  display: flex;
  margin-bottom: 20px;
  width: 540px;
  height: 720px;
  @media (max-width: 1199px) {
    width: 450px;
    height: 600px;
  }
  @media (max-width: 991px) {
    width: 345px;
    height: 460px;
    margin-bottom: 7px;
  }
  @media (max-width: 767px) {
    margin-bottom: 15px;
    width: 100%;
    justify-content: center;
    height: calc((50vw - 30px)/3*4);
  }
}

.image__large {
  object-fit: contain;
}


.contentItem__small {
  overflow: hidden;
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1199px) {
    height: 340px;
  }
  @media (max-width: 991px) {
    height: 260px;
  }
}

.imageContainer__small {
  display: flex;
  width: 240px;
  height: 320px;
  margin-bottom: 20px;
  @media (max-width: 1200px) {
    width: 195px;
    height: 260px;
  }
  @media (max-width: 991px) {
    width: 150px;
    height: 200px;
    margin-bottom: 7px;
  }
}

.image__small {
  object-fit: contain;
}

.imageContainer__large__add {
  background-image: url("../../assets/img/len.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: (center bottom);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: $cursive;
  font-size: 50px;
  color: $text-color;
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  height: 784px;
  @media (max-width: 1199px) {
    height: 640px;
  }
  @media (max-width: 991px) {
    height: 481px;
  }
}

.contentWrapper__small {
  padding: 0;
  max-width: 240px;
  @media (max-width: 1200px) {
    max-width: 195px;
  }
  @media (max-width: 991px) {
    max-width: 150px;
  }
}

.contentContainer__small {
  margin: 0;
  justify-content: space-between;
}

.pagination {
  justify-content: center;
}

.paginationButton, .paginationButton:disabled {
  border: none;
  background-color: transparent;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.paginationButton {
  &:hover {
    background-color: $button-hover-color;
  }
}

.paginationButton:disabled {
  &:hover {
    background-color: transparent;
  }
}
//
.itemTitle {
  @include typography-regular;
  line-height: 20px;
  text-align: center;
  @media (max-width: 992px) {
    font-size: 14px;
  }
}