@import "../../../styles/variables";

.contactsWrapper {
  margin: 180px auto;
  position: relative;
  padding: 0;
  @media (max-width: 992px) {
    margin: 90px auto;
    padding: 0 15px;
  }
}

.titleContainer {
  @include block-title;
  @media (max-width: 767px) {
    margin: 0;
  }
}

.descriptionContainer {
  justify-content: center;
  @media (max-width: 767px) {
    margin: 0;
    padding-top: 30px;
  }
}

.description {
  @include typography-regular;
  max-width: 480px;
  text-align: center;
}

.iconsWrapper {
  display: flex;
  justify-content: space-between;
  width: 870px;
  margin: 45px auto 0;
  @media (max-width: 992px) {
    width: 720px;
  }
  @media (max-width: 767px) {
    width: 560px;
  }

  @media (max-width: 575px) {
  width: 320px;
}

}

.iconContainer {
  @include contacts-link;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 575px) {
    margin-bottom: 20px;
    &:nth-child(1) {
      order: 3;
    }
    &:nth-child(4) {
      order: 4;
    }
  }
}

.icon {
  @include icon;
}