@import "../../../styles/variables.scss";

.titleWrapper {
  background-color: $cover-background;
}

.titleContainer {
  padding: 0;
  @media (max-width: 767px) {
    margin: 0;

  }
}

.titleRow {
  min-height: 680px;
  @media (max-width: 1200px) {
    min-height: 580px;
  }
  @media (max-width: 992px) {
    min-height: 430px;
  }
  @media (max-width: 767px) {
    margin: 0;
  }
  @media (max-width: 350px) {
    min-height: 350px;

  }
}

.titleCol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (max-width: 1200px) {
    max-height: 580px;
  }
  @media (max-width: 990px) {
    max-height: 430px;
  }
  @media (max-width: 767px) {
    &:nth-child(1) {
      min-height: 700px;
      position: relative;
      background-image: url('../../../assets/img/titleImage.png');
      background-size: (auto, 100%);
      background-position: center;
      align-items: center;
      padding: 0 15px;
      &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,.5);
        z-index: 1;
      }
    }
    &:nth-child(2) {
      display: none;
    }
  }
  @media (max-width: 575px) {
    &:nth-child(1) {
      min-height: 100vh;
    }
  }
  @media (max-width: 420px) {
    &:nth-child(1) {
      min-height: 100vh;
    }
  }
  @media (max-width: 350px) {
    &:nth-child(1) {
      min-height: 100vh;
    }
  }
}

.titleH1 {
  @include h1-style;
  color: $title-color;
  padding-top: 25px;
  z-index: 2;
}


.titleP {
  @include typography-regular;
  color: $text-color;
  width: 55%;
  margin: 30px 0;
  font-weight: 400;
  line-height: 20.8px;
  z-index: 2;
  @media (max-width: 767px) {
    color: white;
    text-align: center;
  }
  @media (max-width: 575px) {
    width: 80%;
  }
}

.titleButton {
  z-index: 2;
  @include button;
  margin-bottom: 25px;
}

.imageContainer {
  overflow: hidden;
  height: 680px;
  @media (max-width: 1200px) {
    height: 620px;
  }
  @media (max-width: 990px) {
    height: 540px
  }
}

.image {
  width: 100%;
}