@import "../../../styles/variables.scss";

.aboutWrapper {
  margin-top: 180px;
  position: relative;
  @media (max-width: 992px) {
    margin-top: 90px;
  }
  @media (max-width: 767px) {
    padding: 15px;
  }
}

.titleContainer {
  @include block-title
}


.textContainer {
  box-sizing: border-box;
  width: 50%;
  padding:0 0 0 30px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 80px;
  @media (max-width: 992px) {
    height: 250px;
    margin-top: 40px;
    padding: 0 0 0 15px;
  }
  @media (max-width: 767px) {
    margin-top: 10px;
    padding:  0 15px;
    height: auto;
  }
}

.text {
  @include typography-regular;
  color: $text-color;
  @media (max-width: 992px) {
    width: 100%;
  }
}

.link {
  @include page-link;
  display: block;
  align-self: flex-end;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 0 0;
  @media (max-width: 992px) {
    padding: 0 15px 0 0;
  }
  @media (max-width: 767px) {
    padding: 0 15px;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 575px) {
    display: none;
  }
}

.image {
  margin-top: auto;
}

.firstImage {
  width: 220px;
  height: 270px;
  @media (max-width: 1200px) {
    width: 180px;
    height: 220px;
  }
  @media (max-width: 992px) {
    width: 130px;
    height: 159px;
  }
  @media (max-width: 767px) {
    display: none;
  }
}

.secondImage {
  width: 290px;
  height: 360px;
  @media (max-width: 1200px) {
    width: 250px;
    height: 310px;
  }
  @media (max-width: 992px) {
    width: 180px;
    height: 223px;
  }
  @media (max-width: 767px) {
    width: 250px;
    height: 310px;
  }
}

