@import "../../../styles/variables.scss";

.catalogWrapper {
  margin-top: 180px;
  position: relative;
  padding: 0;
  @media (max-width: 992px) {
    margin-top: 90px;
  }
  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: 0;
  }
}

.titleContainer {
  @include block-title
}

.itemContainer {
  max-width: 255px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 0 60px;
  @media (max-width: 767px) {
    max-width: 90% !important;
  }
}

.itemsWrapper {
  justify-content: space-between;
  margin: 0;
  @media (max-width: 992px) {
    & a:nth-child(4n) {
      display: none;
    }
  }
  @media (max-width: 767px) {
    & a:nth-child(4n) {
      display: flex;
    }
  }
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.imageContainer {
  width: 255px;
  height: 350px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  @media (max-width: 1200px) {
    width: 220px;
    height: 280px;
  }
  @media (max-width: 767px) {
    width: 90%;
  }
  @media (max-width: 575px) {
    height: 200px;
  }
}

.image {
  max-height: 350px;
}

.itemTitle {
  @include typography-regular;
  color: $button-text-color;
  padding-top: 20px;
}

.linkContainer {
  justify-content: center;
  margin: 0;
}

.link {
  @include page-link;
}