$theme-colors: (
        "primary": #DDDBCC

);
$link-color: (#3E3C3C);
$carousel-control-color: (#000);
$carousel-transition-duration: (0.4s);

$custom-file-border-width: (0);

$modal-backdrop-bg: rgba(4, 4, 4, 0.7);
$modal-backdrop-opacity: 1;
body {
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
input[type="number"]:hover,
input[type="number"]:focus {
  -moz-appearance: textfield;
}

@import "~bootstrap/scss/bootstrap";
