$theme-colors: (
        "primary": #DDDBCC

);
$link-color: (#3E3C3C);
$carousel-control-color: (#000);
$carousel-transition-duration: (0.4s);

$custom-file-border-width: (0);

body {
  margin: 0;
}

@import "~bootstrap/scss/bootstrap";
