@import "../../styles/variables.scss";

.itemWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: rgba(0.4,0.4,0.4,0.7);
  z-index: 95;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
}

.itemContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @media (max-width: 767px) {
    flex-direction: column;
    width: 95%;
    background-color: rgba(242,239,235,1);
    padding: 0;
  }
}

.carouselContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 750px;
  height: 600px;
  overflow: hidden;
  @media (max-width: 1200px) {
    height: 500px;
    width: 675px;
  }
  @media (max-width: 992px) {
    width: 590px;
  }
  @media (max-width: 767px) {
    width: 100%;
    height: 440px;
    justify-content: space-around;
  }
  @media (max-width: 660px) {
    height: 400px;
  }
  @media (max-width: 575px) {
    flex-direction: column;
    width: 100%;
    height: auto;
  }
}

.carouselItem {
  display: flex;
  justify-content: center;
}

.image {
  @media (max-width: 575px) {
    padding-top: 40px;
  }
    object-fit: contain;
}

.imageContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 600px ;
  width: 450px;
  @media (max-width: 1200px) {
    height: 500px;
    width: 375px;
  }
  @media (max-width: 992px) {
    height: 480px;
    width: 360px;
  }
  @media (max-width: 767px) {
    height: 440px;
    width: 330px;
  }
  @media (max-width: 660px) {
    height: 400px;
    width: 300px;
  }
  @media (max-width: 575px) {
    width: 100%;
    height: 400px;
  }
  @media (max-width: 376px) {
    height: 350px;
  }
}

.controls {
  z-index: 100;
  cursor: pointer;
 @media (max-width: 767px) {
   position: absolute;
   top: calc(50% - 30px);

   & path:nth-child(1) {
     display: none;
   }

 };
}

.control_prev {
  margin-right: 30px;
  @media (max-width: 992px) {
    margin-right: 15px;
  }
  @media (max-width: 767px) {
    left: -10px;
  }
}

.control_next {
  margin-left: 30px;
  @media (max-width: 992px) {
    margin-left: 15px;
  }
  @media (max-width: 767px) {
    right: -10px;
  }
}

.sideContainer {
  width: 350px;
  height: 600px;
  background-color: rgba(242,239,235,1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  @media (max-width: 1200px) {
    height: 500px;
    width: 300px;
  }
  @media (max-width: 992px) {
    height: 480px;
    width: 230px;
  }
  @media (max-width: 767px) {
    height: 440px;
    width: 210px;
  }
  @media (max-width: 660px) {
    height: 400px;
    width: 180px;
  }
  @media (max-width: 575px) {
    width: 100%;
    height: 150px;
  }
}

.closeButton {
  width: 20px;
  height: 20px;
  opacity: 0.5;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  position: absolute;
  z-index: 2000;
  top: 20px;
  right: 20px;
  @media (max-width: 575px) {
    top: 15px;
    right: 15px;
  }
}




.price {
  @include typography-price;
  margin-bottom: 30px;
  @media (max-width: 575px) {
    margin-bottom: 15px;
  }
}

.title {
  @include typography-card-title
}

.description {
  @include typography-light
}